.header__wrapp {
    height: 80px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu__item a {
    font-size: 24px;
    font-weight: bold;
    transition: all ease .5s;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

.menu__item a:hover {
    border-color: inherit;
}

.menu__item .active {
    border-color: inherit;
}

.header__back button {
    font-size: 20px;
}
