*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #010511;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

button{
  color: inherit;
  background: transparent;
  font-family: inherit;
  border: none;
}
