.current-movie__wrapp {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.current-movie__poster img {
    width: 430px;
    border-radius: 10px;
}

.current-movie__titles {
    margin-bottom: 60px;
}

.current-movie__titles h2 {
    font-size: 30px;
}

.current-movie__genres,
.current-movie__creators{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 3px 10px;
    margin: 15px 0;
}



